.logo{
    width:300px;
}
.tittle{
    position:relative;
    left:376px;
    top:106px;
    width:500px;
    height:100px;
}
.input{
    position:relative;
    display:flex;
    flex-direction:column;
    width:200px;
    left:400px;
    top:138px;

}
.input label{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Arial Rounded MT Bold",serif;
    margin-bottom:10px;
}
.main-Agregar{

    position:relative;
    top:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:200px;
}
.main-Agregar img{
    position:relative;
    left:79px;
    top:-100px
}
.info{
    position:relative;
    top:-100px;
    left:99px;
    width: 201px;
}
.btn-guardar{
    position:relative;
    Width: 332px;
    Height: 67px;
    top:-50px;
    margin-right: 24px;
    left:-140px;

}
.btn-Cancelar{
    position:relative;
    Width: 332px;
    Height: 67px;
    top:-77px;
    left:-100px;
}



.tittle p{
    font-family: Inter,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

}
footer{
    display:flex;
    position: relative;
    bottom: -100px;
    background-color:black;
    width:100%;
    margin-top:20px;
    color:white;
    place-items: flex-end;
}
footer>img{
    height:100px;
}
.mail{
    background-color:white;
    height:50px;
    margin: 0 10px 10px 10px;
    border-radius:50%;
}
@media (min-width: 768px){

    .logo{
        position:relative;
        left:40px;
        top:75px;
    }
    .tittle{
        left:40px;
        top:140px;
    }
    .main-Agregar{
        top:155px
    }
    .main-Agregar img{

        top:-100px
    }
    .info{

        top:-100px;

    }
    .btn-guardar{

        top:0;
    }
    .btn-Cancelar{
        top:-24px;
    }


}

@media (max-width: 375px){
    .logo{
        left:16px;
        top:24px;
    }
    .tittle{
        left:10px;
        top:50px;
    }

    .main-Agregar{
        top:240px
    }
    .main-Agregar img{

        top:-200px;
        left:-10px;
    }
    .info{

        top:-200px;
        left:0;

    }
    .btn-guardar{
        position:absolute;
        top:150px;
        left:10px;
        width:250px;
    }
    .btn-Cancelar{
        position:absolute;
        top:250px;
        left:10px;
        width:250px;
    }

}
