body{
    height:400px;
    width:100%;
}
.container{
    height:630px;
}
.tablero{
    position: absolute;
    left:250px;
    width: 350px;
    height: auto;
    z-index: 101;
}
#texto{
    color:red;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}
.resultado{
    position: absolute;
    left:842px;
    top:100px;
    z-index: 100;
}

.canvas-container{
    position:relative;
    width:80%;
    height:377px;
    left:120px;
    top:30px;

}
#canvas{
    position:relative;
    width:100%;
    height:100%;

}



.principal-body{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:40px;
    height:133px;
}
.main-body button{
    position: relative;
    top: -250px;
}
.btn-NuevoJuego{
    height: 67px;
    margin-right: 20px;
}
#repetir{
    position: absolute;
    top: 470px;
    left: 900px;
    width: 200px;
    display: none;
    text-align:start;
}
footer{
    display:flex;
    position: relative;
    bottom: 123px;
    background-color:black;
    width:100%;
    margin-top:128px;
    color:white;
    place-items: flex-end;
}
footer>img{
    height:100px;
}
.mail{
    background-color:white;
    height:50px;
    margin: 0 10px 10px 10px;
    border-radius:50%;
}
@media (max-width: 375px){

    .main-body button{
        position: absolute;

    }

    .main-body .btn-NuevoJuego{

        top: 741px;
        width: 280px;
    }
    .main-body .btn-Desistir{
        top: 841px;
    }
}
