<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar palabra</title>
    <link rel="StyleSheet" type="text/css" href="../styles/palabrasStyle.css" >
</head>
<body>
    <div class="container">
        <div class="container-logo">
            <img class="logo" src="../logos/logox1.png" alt="Alura">
        </div>
        
        <div class="container-titulo">
            <label for="palabra"><strong>Ingrese una palabra</strong> </label>
            <input type="text" id="palabra">
        </div>
        <div class="alert">
            <img class="alerta" src="../logos/Vectoravisox1.png" alt="alert">
            <small>Máximo 8 letras</small>
        </div>
        <div class="container-buttons">
           
            <button class="primary-button guardar-button" id="guardar">Guardar y empezar</button>
            <button class="secondary-button cancelar-button" id="cancelar">Cancelar</button>
        </div>
        <footer class="footer">
            <img class="footer-logo" src="../logos/LogoMakr-7oqQgk.png" alt="underground">
        <img class="footer-mail-img" src="../logos/mail.png" alt="mail">
        <p class="footer-mail">undergroundsoftwaredevelopment@gmail.com</p>
        </footer>
    </div>
  
    
<script src="../scripts/palabrasScript.js"></script>      
</body>
</html>