*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr;
    font-size: 1.6rem;
    background-color:floralwhite;
}
.container{
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
.container-logo{
    width: 100%;
    height: 150px;
    padding: 20px;
}
.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 150px 20px;
    border:1px solid red;
}
.container-buttons button{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.container-buttons button:hover{
    transform: scale(1.2);
}
.primary-button{
    background-color: blue;
    color: white;
}
.secondary-button{
    background-color: yellow;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
@media (min-width:576px){
    footer{
        padding: 30px;
        justify-content: center;
        align-items: center;
    }
}